<!doctype html> <html>
    <head>
    </head>
    <body bgcolor=yellow>
        <h2 align=center> 웹기반 센서제어 </h2>
        <p> <table border=0 width=600 cellspacing=5>
            <tr>
                <td align=right> LED제어 </td>
                <td align=center> ON(<a href="led/red/on">빨강</a>
                                <a href="led/green/on">초록</a>
                                <a href="led/blue/on">파랑</a>)</td> 
                <td> OFF(<a href="led/red/off">빨강</a>
                    <a href="led/green/off">초록</a>
                    <a href="led/blue/off">파랑</a>) </td>
                <td> <font color=<%= redcolor%>>●</font>
                     <font color=<%= greencolor%>>●</font>
                      <font color=<%= bluecolor%>>●</font> </td>
            </tr> 
            <tr>
                <td align=right> Buzzer제어 </td>
                <td align=center> <a href="buzzer/on"> ON </a></td> <td> <a href="buzzer/off"> OFF </a></td>
                <td> <font color= <%= buzzercolor %> > ● </font></td>
            </tr> 
    </table>
    </p>
    <hr>
        <h2 align=center> 온습도 측정</h2>
        <div align=center>
            <a href="humitemp">1회 측정</a>
        </div>
    </body>
</html>